body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 30px;
}

table {
    background: white;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    text-decoration: none;
    margin-right: 5px;
}